/* @import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins'); */


    /* font-family: 'ICA Rubrik'; */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
}
.container{
    height: 100vh;
    width:100%;
    position: relative;
    overflow:hidden;
    background: red url(images/images.jpg) center repeat;
    z-index:-2;
}
.slider{
    width:150px;
    height:200px;
    position: absolute;
    top: 15%;
    left:calc(50% - 50px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    z-index:1;
    animation : rotation 20s linear infinite;
}
@keyframes rotation {
    from{
        transform:perspective(1000px)
        rotateX(-15deg) 
        rotateY(0deg)
         
    }
    to{
        transform:perspective(1000px)
        rotateX(-15deg)
         rotateY(360deg)
    }
}
.item{
    inset: 0 0 0 0;
    position: absolute;
    transform: 
    rotateY(calc( (var(--classing) - 1 ) * (360 / var(--quantity) * 1deg)))
    translateZ(350px);
    
}
.item img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:15%;
    box-shadow:0 0 30px blue, 0 0 30px blue inset;
    border-image:linear-gradient(to right ,red, blue , white , green) ;
    
}
section{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow:hidden;
}
section ul{
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

section ul li a{
    margin: 10px 0;
    text-decoration:none;
    background-color: blue;
    padding:  15px 30px;
    border-radius:30px;
    display: inline-block;
    width: 150px;
    color: #fff;
    transition: .5s;

}
ul:hover a{
    opacity: 0;
    
}
section ul li a:hover{
    transform:scale(1.3);
    background-color:rgb(94, 29, 5);
    opacity:1;
}
li::after{
    content:attr(the-attre);
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
    z-index:-1;
    letter-spacing:50px;
    font-size: 5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:900;
    opacity:0;
    transition:.5s;
    text-shadow: 0 0 30px blue;
    
}
li::before{
    content:"";
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , 30%);
    width:450px;
    height:150px;
    z-index:-1;
    background-color:rgb(17, 119, 235);
    opacity:0;
    transition:.5s;
    box-shadow:0 0 50px blue;
    border-radius:50%
}
li:hover:after, li:hover::before{
    opacity:1;
    letter-spacing:normal;
}
li:hover:before{
    width:150px;
}
@media (max-width:950px){
    .item{
        transform: 
    rotateY(calc( (var(--classing) - 1 ) * (360 / var(--quantity) * 1deg)))
    translateZ(230px);
    }
    .slider{
        width:140px;
        height:190px;}

}
